.JGT-TITLE{
  color: rgb(226, 134, 47);
  font-size: px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p{
  text-size: 20px; 
  margin-top: 0px;
  margin-bottom: 8px;
}

.jgt-description{
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: left;
  line-height: 40px;
}
  
.jgt-p1{
    text-indent: 20px;
}
  
  
.jgt-img{
  display: block;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 150px;
}


.jgt-esports-description{
font-size: 20px; 
color: rgb(255, 255, 255);
text-align: left;
line-height: 40px;
margin-bottom: 150px
}

.jgt-p2{
  text-indent: 20px;
}

.jgt-esports-img{
display: block;
height: 300px;
width: 300px;
margin-left: auto;
margin-right: auto;
border-radius: 150px;
}

.abt-our-server{
margin-top: 0px;
color: rgb(192, 110, 33);
font-size: 25px ;
text-align: left;
}

.esports-join{
color: rgb(192, 110, 33);
font-size: 25px;
}
